 


body {
    font-family: "Open Sans", serif;
}
#github{
    text-align: center;
}
#heay{
    display: block;
}
header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

section{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.logo {

    color:#d4145a;
}
.button{
    margin-left: 5px;
}
.login{
    color:#d4145a;
    border: 1px solid #d4145a;
   background-color: white;
   border-radius: 4px;
   text-align: right;
  left: 80%;
}
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-left: 40px;
}

nav a {
    text-decoration: none;
    color: #333;
}


.search-bar {
    display: flex;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
   
}

.search-bar button {
    padding: 8px 12px;
    background-color:#d4145a;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
  
form {
    flex-basis: 200px;
}


 h1 {
    color: #d4145a;
    margin-bottom: 20px;
}


.form-group {
    width: 100%;
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: #1a1a1a;
    margin-bottom: 5px;
    text-align: left;
}

select, input[type="email"], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 5px;
}

select:focus, input[type="email"]:focus, textarea:focus {
    outline: none;
    border-color:#d4145a; 
}
.bu{
    background-color: #d4145a;
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 4px;
}

textarea {
    height: 150px;
    resize:none ; 
}


.footer {
    margin-top: 10px;
}
nav a {
    text-decoration: none;
    color: #333;
}

.submit-button {
    background-color: #d4145a;
    color: white;
    padding: 9px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 300px;
}

.image-container {
    margin-top: 30px;
}

img {
    max-width: 350px;
    height: auto;
}
footer{
    text-align: right;
    right:40%;
  margin-top: 90px;

  }
  footer li a{
      text-decoration: none;
      color: grey;
     
  }
.footer-bottom{
    display:flex;
    align-items:flex-start;
    margin-top: 20px;
    border-top: 1px solid grey;
    justify-content: space-between;
      
}
footer ul, footer li{
    margin:0px;
    padding: 0px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

#footer-icons{
    display: flex;
    padding: 9px;
    margin: 2px;
    align-items: flex-start;
    justify-content: flex-end;

}
#but{
    color: white;
    background-color: #d4145a;
    border: 1px solid white;
    padding: 6px;
    border-radius: 4px;
}
.footer-section-newsletter{
    align-items: flex-end;
    justify-content: flex-end;
}