body{
   margin-left: 10%;
margin-right: 10%;
font-family: "Open Sans", serif;
}

header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.logo {

    color:#d4145a;
}
.button{
    margin-left: 5px;
    color: #d4145a;
}
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}


.search-bar {
    display: flex;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
   
}

.search-bar button {
    padding: 8px 12px;
    background-color:#d4145a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
a:hover{
    background-color: #f07;
    padding: 10px;
    color: white;
    border-radius: 4px;
}
.button{
    background-color:#d4145a;
    color: antiquewhite;
    padding: 15px;
    border: 25px solid white;
    border-radius: 30px;
    margin-right:1px ;
    }
.login{
        color:#d4145a;
        border: 1px solid #d4145a;
       background-color: white;
       border-radius: 3px;
       text-align: right;
      left: 80%;
      text-decoration: none;
      padding: 5px;
    }
    .p{
        color: grey;
        
    }
    #img1{
        
       float: right;
        overflow: auto;
        padding: 0%;
    }
    #img{
        border-radius: 10px;   
    }
    
    .latest-news {
        background-color: #f8f8f8;
        padding: 40px ;
        margin-bottom: 10px;
    }
    .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 20px;
    
    }
    .container-article {
        margin: 0 auto;
        display: flex;
        gap: 20px;
    }
    #sec{
       
        display: flex;
        padding: 60px;
    }
    #sec1{
        text-align: left;
        padding-right: 10px;
    }
    .h2{
        text-align: left;
        color: #d4145a;
        border-bottom: 1px solid rgb(228, 224, 224);
        margin-bottom: 40px;
        margin-top: 50px;
    }
    li{
        display:block;
        padding: 0px 10px; 
        position: relative;
    
       }
    #p3{
      text-align: center;
        padding: 20px;
        display:inline;
        left: 80%;
    }
    
    .centered{
        position: absolute;
        top: 50%;
        left:50%;
        
    }
    .bg1{
       
        display: flex;
        width: 300px;
        height: 300px;
        background-position: center;
        background-size: cover;
        border-radius: 8px;
       padding-bottom: 20px;
    }
    .bg2{
       
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .bg3{
              
        width: cover;
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .card {
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .container-article2{
            display:flex;
            align-items:flex-start;
            justify-content:center;
            gap:20px;
    }
   
    .article{
       
       flex-wrap:wrap;
       flex-basis:300px;
       text-align:center;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
#latest-news-section h3 {
    color: white;
    font-size: 26px;
    text-shadow:  2px 2px #333;
}
#latest-news-section article {
   padding: 30px;
   display: flex;
   align-items: center;
}
footer{
    text-align: right;
    right:40%;
  margin-top: 90px;
  text-decoration: none;

  }
  footer li, footer a{
     
      color: grey;
      text-decoration: none;
  }
.footer-bottom{
    display:flex;
    align-items:flex-start;
    margin-top: 20px;
    border-top: 1px solid grey;
    justify-content: space-between;
      
}
footer ul, footer li{
    margin:0px;
    padding: 0px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

#footer-icons{
    display: flex;
    padding: 9px;
    margin: 2px;
    align-items: flex-start;
    justify-content: flex-end;

}
#but{
    color: white;
    background-color: #d4145a;
    border: 1px solid white;
    padding: 6px;
    border-radius: 4px;
}
.footer-section-newsletter{
    align-items: flex-end;
    justify-content: flex-end;
}