* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Open Sans", serif;
    background-color: #f4f4f4; 
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}
header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.logo {

    color:#d4145a;
}
.button{
    margin-left: 5px;
}
.login{
    color:#d4145a;
    border: 1px solid #d4145a;
   background-color: white;
   border-radius: 4px;
   text-align: right;
  left: 80%;
}
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}


.search-bar {
    display: flex;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
   
}

.search-bar button {
    padding: 8px 12px;
    background-color:#d4145a;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.logo {

    color:#d4145a;
}
.button{
    margin-left: 5px;
}
.login{
    color:#d4145a;
    border: 1px solid #d4145a;
   background-color: white;
   border-radius: 4px;
   text-align: right;
  left: 80%;
}
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}


.search-bar {
    display: flex;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
   
}

.search-bar button {
    padding: 8px 12px;
    background-color:#d4145a;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.logo {

    color:#d4145a;
}
.button{
    margin-left: 5px;
}
.login{
    color:#d4145a;
    border: 1px solid #d4145a;
   background-color: white;
   border-radius: 4px;
   text-align: right;
  left: 80%;
}
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}


.search-bar {
    display: flex;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
   
}

.search-bar button {
    padding: 8px 12px;
    background-color:#d4145a;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.container {
    width: 600px;
    max-width: 400px; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
}

.image-section {
    margin-bottom: 30px;
}


.form-section h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}


input[type="email"], input[type="password"] {
    width: 100%;
    padding: 16px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    gap:0px;
}

input[type="email"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: #d4145a; 
}


input[type="checkbox"] {
    margin-right: 8px;
}


.sign-in-btn {
    background-color: #d4145a; 
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

.sign-in-btn:hover {
    background-color: #d4145a; 
}

.sign-in-btn:active {
    background-color: #d4145a; 
}


@media (max-width: 480px) {
    .container {
        width: 90%; 
    }
}
.container{
    margin-top: 60px;
}
