body{
  font-family: "Open Sans", serif;
}
a:hover{
  background-color: #f07;
  padding: 10px;
  color: white;
  border-radius: 4px;
}
header {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.logo {

  color:#d4145a;
}
.button{
  margin-left: 5px;
}
.login{
  color:#d4145a;
  border: 1px solid #d4145a;
 background-color: white;
 border-radius: 4px;
 text-align: right;
left: 80%;
padding: 5px;
text-decoration: none;
}
nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}


.search-bar {
  display: flex;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;

}

.search-bar button {
  padding: 8px 12px;
  background-color:#d4145a;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
#img {
  display: block;
  margin: 0 auto;
  text-align: center;
 }
#di {
text-align: center;

color: #d4145a ;
}
.fpara{
text-align: justify;*
font-size: 14px;
padding-left: 500px;
padding-right: 450px;
}
#vid {
padding-left: 500px;
padding-right: 450px;

}
footer{
  text-align: right;
  right:40%;
margin-top: 90px;

}
footer li a{
    text-decoration: none;
    color: grey;
   
}
.footer-bottom{
  display:flex;
  align-items:flex-start;
  margin-top: 20px;
  border-top: 1px solid grey;
  justify-content: space-between;
    
}
footer ul, footer li{
  margin:0px;
  padding: 0px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

#footer-icons{
  display: flex;
  padding: 9px;
  margin: 2px;
  align-items: flex-start;
  justify-content: flex-end;

}
#but{
  color: white;
  background-color: #d4145a;
  border: 1px solid white;
  padding: 6px;
  border-radius: 4px;
}
.footer-section-newsletter{
  align-items: flex-end;
  justify-content: flex-end;
}